//entend for all (<max-widht>)
%max-width {
    max-width:1520px;
    margin:auto;
}

%home_top_heading{
    font-size: 80px;
    text-decoration: underline;
    text-decoration-color:$primaryyellow ;
    text-transform: capitalize;
    color: $primaryblack;
    line-height:120px ;
}

%section_top_bottom_padding{
    padding: 80px 0px;
}

 